* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(../img/sfondo.avif);
    background-position: center;
    background-size: cover;
}

#container{
    backdrop-filter: blur(15px);
    width: 500px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: magenta 0px 0px 15px 3px;
    border:1px solid magenta;
    border-radius:20px;
}

span{
    font-size: 20px;
}

hidden{
    display: none;
}